.env
.git
.gitignore
.vscode
.idea
docker-compose.yml
README.md
vendor/
node_modules/
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/hot
public/build
tests/
phpunit.xml
.editorconfig
.styleci.yml
CHANGELOG.md
